<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Ödeme Geçmişi</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Anasayfa</a></li>
            <li class="breadcrumb-item active">Ödeme Geçmişi</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Hesap Numarası </th>
                  <th>Fatura ID </th>
                  <th>Fatura Türü </th>
                  <th>Ödeme Tutarı </th>
                </tr>
                </thead>
                <tbody >
                <tr *ngFor="let payHis of paymentHistory">
                  <td>{{payHis.accNo}} - {{payHis.additionalNo}}</td>
                  <td>{{payHis.BillNumber}}</td>
                  <td>{{payHis.BillType}}</td>
                  <td>{{payHis.pay}} TRY</td>
                </tr>
                                        
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->           
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>

  </section>