<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Hesap Listesi</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Anasayfa</a></li>
            <li class="breadcrumb-item active">Hesap Listesi</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <button (click)='newAccOnclik()' type="button"  class="btn btn-success btn-sm float-sm-right" onclick="setInterval(function(){window.location.reload(false);},1000);" >
                Hesap Ekle
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Hesap Numarası</th>
                  <th>Bakiye</th>
                  <th>Oluşturma Tarihi</th>
                  <th>
                    
                  </th>
                </tr>
                </thead>
                <tbody >
                <tr *ngFor="let account of accounts">
                  <td>{{account.accNo}} - {{account.additionalNo}}</td>
                  <td>{{account.Balance}} TL</td>
                  <td>{{account["Creation Date"]}}</td> <!-- buraya bakıcaz sonra -->
                  <td align="center"><button (click)='delAccOnclik(account.additionalNo)' type="button" class="btn btn-default btn-sm" onclick="setInterval(function(){window.location.reload(false);},1000);"><span class="far fa-trash-alt"></span></button></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->           
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </section>

 
