<aside #mainSidebar class="main-sidebar sidebar-dark-primary elevation-4" style="background-image: url(../../../../../assets/img/sidebar.png);">
  <!-- Brand Logo -->
  <a [routerLink]="['/homepage']" class="brand-link">
    <img
      src="assets/img/SmartWallet.png"
      alt="Bank of StuxNET"
      class="brand-image img-circle elevation-3"
      style="opacity: .8; background-color: white;"
    />
    <span class="brand-text font-weight-light" style="color: white;">Smart Wallet</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info" *ngFor="let user of profile">

        <a [routerLink]="['/profile']" class="d-block" style="color: white;">{{user.firstName}} {{user.lastName}}</a>     <!-- İsim çekilecek..-->
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
      <li class="nav-item">
        <a [routerLink]="['/travel']" routerLinkActive="active" class="nav-link">
          <i class="nav-icon fas fa-tram" style="color: white;"></i>
          <p style="color: white;">
            Seyahat Et
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/city-guide']" routerLinkActive="active" class="nav-link">
          <i class="nav-icon fas fa-map-marked-alt" style="color: white;"></i>
          <p style="color: white;">
            Şehir Rehberi
          </p>
        </a>
      </li>
        <li class="nav-item">
          <a [routerLink]="['/deposit']" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-angle-right" style="color: white;"></i>
            <p style="color: white;">
              Para Yatır
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/virman']" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fas fa-compress-arrows-alt" style="color: white;"></i>
            <p style="color: white;">
              Virman
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/eft']" routerLinkActive="active" class="nav-link">
            <i class="nav-icon far fa-paper-plane" style="color: white;"></i>
            <p style="color: white;">
              Havale
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/payment']" routerLinkActive="active" class="nav-link">
            <i class="nav-icon fab fa-cc-visa" style="color: white;"></i>
            <p style="color: white;">
              Fatura Öde
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
