<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Seyahat Et</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/homepage']">Anasayfa</a></li>
            <li class="breadcrumb-item active">Seyahat Et</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
    <!-- /.container-fluid -->
  </section>

<form [formGroup]="travelForm" >
<section class="content">
            <div class="container-fluid">
              <div class="row">
                <!-- left column -->
                <div class="col-sm-3">
                  <!-- general form elements -->
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Gerekli Bilgileri Girin!</h3>
                    </div>

                      <div class="card-body">
                        <div class="form-group">
                          <label for="cityID">Şehir Seçiniz</label>
                          <select formControlName="cityID" id="cityID" class="form-control">
                            <option *ngFor="let opt of cities" [value]="opt.cityID" [selected]="opt.selected">{{opt.cityID}} - {{opt.cityName}}</option>
                          </select>
                        </div>
                      </div>
                      <!-- /.card-body -->
                      <div class="card-footer">
                        <button (click)="querySubmit()" type="button" class="btn btn-primary" [disabled]="loading" >Araçları Getir</button>
                        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                      </div>

                  </div>
                </div>

                <div class="col-sm-9">
                  <div class="card card-success">
                    <div class="card-header">
                      <h3 class="card-title">Seyahat Edebileceğiniz Araç Bilgileri</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                    
                      <table class="table table-striped" *ngIf="vehicles.length>0; else other">
                        <thead>
                          <tr>
                            <th>Araç No</th>
                            <th>Seyahat Güzergâhı</th>
                            <th>Seyahat Saatleri</th>
                            <th>Ücret</th>
                            <th>İndirimli Ücret</th>
                            <th>Araç Tipi</th>
                            <!-- <th></th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let vehicle of vehicles">
                            <td>{{vehicle.vehicleID}}</td>
                            <td>{{vehicle.startPoint}} - {{vehicle.endPoint}}</td>
                            <td>{{vehicle.firstVoyage}} - {{vehicle.lastVoyage}}</td>
                            <td>{{vehicle.price}} TL</td>
                            <td>{{vehicle.reductionPrice}} TL </td>
                            <td>{{vehicle.typeName}}</td>
                            <!-- <td>
                              <button (click)='travel()'  type="button"  class="btn btn-success btn-sm float-sm-right" >
                                Seyahat Et
                              </button>
                            </td> -->
                          </tr>
                        </tbody>
                      </table>
                      <ng-template #other>
                        <h4> Bu şehire kayıtlı bilgisi bulunmamaktadır..</h4>
                      </ng-template>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                
              </div>
            </div>
          </section>
        </form>